<h1> All of our found Poke'mon </h1>

<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <%= link_to pokemon.name, pokemon_path(pokemon) %> was found near <%= pokemon.address %> <%= pokemon.found_days_ago %> days ago
    </li>
  <% end %>
</ul>
